<%= image_tag(@user.avatar.thumb) %>

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<%= link_to "My profile", @user %>

<%= render partial: 'users/shared/stats' %>

<% if @users.any? %>

  <h3><%= @title %></h3>
  <% @users.each do |user| %>
    <p><%= image_tag(user.avatar.thumb) %> <%= link_to "#{user.first_name} #{user.last_name}",
    user_path(user) %></p>
  <% end %>
<% end %>




