<div>
  <%= image_tag(current_user.avatar.url) %>
  <p>Привіт, <%= current_user.first_name %> <%= current_user.last_name %>
  <%= link_to 'Вийти', destroy_user_session_path, :method => :delete  %></p>
  <p><%= current_user.birthday%></p>
</div>
     	
<%= render partial: 'posts/form' %>

<h3>Posts:</h3>
<% @posts.each do |post| %>
  <div>
    <p><%= post.text %></p>
  </div>

<% end %>