<p>
  <strong>All posts:</strong>
  <%= @post.text %>
</p>

<%= link_to "all posts", controller: "posts" %>

<%= link_to 'редагувати', edit_post_path(@post) %>

<%= link_to 'видалити', post_path(@post),
           method: :delete, data: { confirm: 'впевнені?' } %>
<%= link_to 'Back', edit_post_path(@post) %>